<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ventus.ibs">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--<uses-permission android:name="android.permission.OBSERVE_GRANT_REVOKE_PERMISSIONS"/>-->

    <application
        android:name="com.ventus.ibs.app.IBS"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ventus.ibs.gui.gallery.GalleryActivity"
            android:theme="@style/Theme.MaterialDesign"/>
        <activity
            android:name="com.ventus.ibs.gui.sample.SampleActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar">

        </activity>
        <activity
            android:name="com.ventus.ibs.gui.sample.sampledetail.SampleDetailActivity"
            android:label="@string/activity_label_detail"
            android:theme="@style/AppTheme.NoActionBar.DarkStatusBar" />
        <activity
            android:name="com.ventus.ibs.gui.data.DataActivity"
            android:label="@string/activity_label_data"
            android:theme="@style/AppTheme.NoActionBar.DarkStatusBar" />
        <activity
            android:name="com.ventus.ibs.gui.prediction.PredictionActivity"
            android:label="@string/activity_label_prediction"
            android:theme="@style/AppTheme.NoActionBar.DarkStatusBar" />
        <activity
            android:name="com.ventus.ibs.gui.about.SettingsActivity"
            android:label="@string/activity_label_settings" />
        <activity
            android:name="com.ventus.ibs.gui.about.AboutActivity"
            android:label="@string/activity_label_about"
            android:theme="@style/AppTheme.NoActionBar.DarkStatusBar" />
        <activity
            android:name="com.ventus.ibs.gui.record.RecordActivity"
            android:theme="@style/Theme.MaterialDesign">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.ventus.ibs.service.SampleService"
            android:enabled="false"
            android:exported="false" />
        <service
            android:name=".service.RecordService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>